TD {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
P {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
LI {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
INPUT {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
SELECT {
	FONT-SIZE: 12px; LINE-HEIGHT: 18px
}
A:link {
	COLOR: #0055ff; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0055ff; TEXT-DECORATION: none
}
A:active {
	COLOR: #ff5500; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #ff5500; TEXT-DECORATION: underline
}

A.a1:link {
	COLOR: #006600
}
A.a1:visited {
	COLOR: #006600
}
A.a1:active {
	COLOR: #ff6600
}
A.a1:hover {
	COLOR: #ff6600
}
A.a2:link {
	COLOR: #0000CC; TEXT-DECORATION: none
}
A.a2:visited {
	COLOR: #0000CC; TEXT-DECORATION: none
}
A.a2:active {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.a2:hover {
	COLOR: #ff6600; TEXT-DECORATION: none
}
A.tt3:link {
	FONT-SIZE: 12px; COLOR: #8800b4; TEXT-DECORATION: underline
}
A.tt3:visited {
	FONT-SIZE: 12px; COLOR: #8800b4; TEXT-DECORATION: underline
}
A.tt3:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
A.tt4:link {
	FONT-SIZE: 12px; COLOR: #000099; TEXT-DECORATION: underline
}
A.tt4:visited {
	FONT-SIZE: 12px; COLOR: #000099; TEXT-DECORATION: underline
}
A.tt4:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt5:link {
	FONT-SIZE: 12px; COLOR: #006802; TEXT-DECORATION: underline
}
A.tt5:visited {
	FONT-SIZE: 12px; COLOR: #006802; TEXT-DECORATION: underline
}
A.tt5:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt6:link {
	FONT-SIZE: 12px; COLOR: #0154ba; TEXT-DECORATION: underline
}
A.tt6:visited {
	FONT-SIZE: 12px; COLOR: #0154ba; TEXT-DECORATION: underline
}
A.tt6:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt7:link {
	FONT-SIZE: 13px; COLOR: #3323c2; TEXT-DECORATION: underline
}
A.tt7:visited {
	FONT-SIZE: 13px; COLOR: #3323c2; TEXT-DECORATION: underline
}
A.tt7:hover {
	FONT-SIZE: 13px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt8:link {
	FONT-SIZE: 12px; COLOR: #6fa880; TEXT-DECORATION: underline
}
A.tt8:visited {
	FONT-SIZE: 12px; COLOR: #6fa880; TEXT-DECORATION: underline
}
A.tt8:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt9:link {
	FONT-SIZE: 12px; COLOR: #01288c; TEXT-DECORATION: underline
}
A.tt9:visited {
	FONT-SIZE: 12px; COLOR: #01288c; TEXT-DECORATION: underline
}
A.tt9:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt10:link {
	FONT-SIZE: 12px; COLOR: #9e010f; TEXT-DECORATION: underline
}
A.tt10:visited {
	FONT-SIZE: 12px; COLOR: #9e010f; TEXT-DECORATION: underline
}
A.tt10:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt11:link {
	FONT-SIZE: 12px; COLOR: #0101fd; TEXT-DECORATION: underline
}
A.tt11:visited {
	FONT-SIZE: 12px; COLOR: #0101fd; TEXT-DECORATION: underline
}
A.tt11:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt12:link {
	FONT-SIZE: 12px; COLOR: #bc2801; TEXT-DECORATION: underline
}
A.tt12:visited {
	FONT-SIZE: 12px; COLOR: #bc2801; TEXT-DECORATION: underline
}
A.tt12:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt13:link {
	FONT-SIZE: 12px; COLOR: #018292; TEXT-DECORATION: underline
}
A.tt13:visited {
	FONT-SIZE: 12px; COLOR: #bc2801; TEXT-DECORATION: underline
}
A.tt13:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt14:link {
	FONT-SIZE: 12px; COLOR: #8b3860; TEXT-DECORATION: underline
}
A.tt14:visited {
	FONT-SIZE: 12px; COLOR: #8b3860; TEXT-DECORATION: underline
}
A.tt14:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt15:link {
	FONT-SIZE: 12px; COLOR: #ca2585; TEXT-DECORATION: underline
}
A.tt15:visited {
	FONT-SIZE: 12px; COLOR: #ca2585; TEXT-DECORATION: underline
}
A.tt15:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt16:link {
	FONT-SIZE: 12px; COLOR: #b15000; TEXT-DECORATION: underline
}
A.tt16:visited {
	FONT-SIZE: 12px; COLOR: #b15000; TEXT-DECORATION: underline
}
A.tt16:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt17:link {
	FONT-SIZE: 12px; COLOR: #fc6002; TEXT-DECORATION: underline
}
A.tt17:visited {
	FONT-SIZE: 12px; COLOR: #fc6002; TEXT-DECORATION: underline
}
A.tt17:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt18:link {
	FONT-SIZE: 12px; COLOR: #0242c4; TEXT-DECORATION: underline
}
A.tt18:visited {
	FONT-SIZE: 12px; COLOR: #0242c4; TEXT-DECORATION: underline
}
A.tt18:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
A.tt19:link {
	FONT-SIZE: 12px; COLOR: #5e04d9; TEXT-DECORATION: underline
}
A.tt19:visited {
	FONT-SIZE: 12px; COLOR: #5e04d9; TEXT-DECORATION: underline
}
A.tt19:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.b2 {
	FONT-SIZE: 14px
}
.b1 {
	FONT-SIZE: 12px
}
.b3 {
	FONT-SIZE: 18px; LINE-HEIGHT: 21px
}

DIV {
	
}
BODY {
	TEXT-ALIGN: center
}
#Head {
	MARGIN-TOP: 5px; WIDTH: 760px; TEXT-ALIGN: left
}
#Head #QuickLinks {
	PADDING-RIGHT: 12px; MARGIN-BOTTOM: 5px; TEXT-ALIGN: right
}
#Head #Logo {
	FLOAT: left
}
#Head #NavBar {
	FLOAT: right; WIDTH: 416px
}
#Head #NavBar #MainNavBar {
	HEIGHT: 28px
}
#Head #NavBar #SubNavBar #BuySpacer {
	
}
#Head #NavBar #SubNavBar #BuySubNavBar {
	
}
#Head #NavBar #SubNavBar #BuyMid {
	BACKGROUND-IMAGE: url(http://img2.taobao.com/head/navbak.gif); WIDTH: 365px
}
#Head #NavBar #SubNavBar #BuyBot {
	BORDER-RIGHT: #cdcdcd 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cdcdcd 1px solid; WIDTH: 365px; PADDING-TOP: 3px; BORDER-BOTTOM: #cdcdcd 1px solid; BACKGROUND-COLOR: #f9f9f9
}
#Head #NavBar #SubNavBar #SellSpacer {
	FLOAT: left; WIDTH: 102px; HEIGHT: 30px
}
#Head #NavBar #SubNavBar #SellSubNavBar {
	FLOAT: left
}
#Head #NavBar #SubNavBar #SellMid {
	BACKGROUND-IMAGE: url(http://img2.taobao.com/head/navbak.gif); WIDTH: 145px
}
#Head #NavBar #SubNavBar #SellBot {
	BORDER-RIGHT: #cdcdcd 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cdcdcd 1px solid; WIDTH: 145px; PADDING-TOP: 3px; BORDER-BOTTOM: #cdcdcd 1px solid; BACKGROUND-COLOR: #f9f9f9
}
#Head #NavBar #SubNavBar #ForumSpacer {
	FLOAT: left; WIDTH: 226px; HEIGHT: 30px
}
#Head #NavBar #SubNavBar #ForumSubNavBar {
	FLOAT: left
}
#Head #NavBar #SubNavBar #ForumMid {
	BACKGROUND-IMAGE: url(http://img2.taobao.com/head/navbak.gif); WIDTH: 180px
}
#Head #NavBar #SubNavBar #ForumMid #ForumSpacerImg {
	WIDTH: 80px; HEIGHT: 6px
}
#Head #NavBar #SubNavBar #ForumBot {
	BORDER-RIGHT: #cdcdcd 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cdcdcd 1px solid; WIDTH: 180px; PADDING-TOP: 3px; BORDER-BOTTOM: #cdcdcd 1px solid; BACKGROUND-COLOR: #f9f9f9
}
#Head A:link {
	FONT-SIZE: 12px; COLOR: #0066ff; TEXT-DECORATION: none
}
#Head A:visited {
	FONT-SIZE: 12px; COLOR: #0066ff; TEXT-DECORATION: none
}
#Head A:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: underline
}
#Head A:active {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
#Head A.active:link {
	FONT-SIZE: 12px; COLOR: #ff4400; TEXT-DECORATION: none
}
#Head A.active:visited {
	FONT-SIZE: 12px; COLOR: #ff4400; TEXT-DECORATION: none
}
#Head A.active:hover {
	FONT-SIZE: 12px; COLOR: #ff6600; TEXT-DECORATION: none
}
#HiddenWeek {
	MARGIN: 6px 0px 5px
}
#Hackbox {
	CLEAR: both
}
.posttip{FONT-SIZE: 15px;}
.boldFontSize14{COLOR: #000000; FONT-SIZE: 14px; FONT-WEIGHT: bold; LINE-HEIGHT: 120%; }