/******************************************************/
/* slide begin */
/******************************************************/
#slidenum{position:absolute;right:1px;top:204px;z-index:30;}
#slidenum .slideNumber{padding-left:0px;margin:0;padding:0;list-style-type:none;float:right;}
#slidenum .slideNumber li{ padding:0px;background:none;font-size:14px;float:left;display:inline;color:#002ABF;text-align:center;line-height:12px !important;line-height:12px;font-family:arial;width:12px;height:12px;background-color:#fff;margin:2px 7px 0 0;cursor:pointer;cursor:hand;overflow:hidden; border:#C3CD91 solid 1px;LIST-STYLE-TYPE: none;}

#slidenum .slideNumber li.curSlideNumber{padding-left:0px;background:none;background-color:#C3CD91;color:#000; border:#9AA459 solid 1px;}
.slidecontainer{position:relative;height:1px;}
.slideimages{margin-top:0px;}
.slideimages img{border:0;display:none;}
.slideimages li{position:absolute;top:0;left:0;LIST-STYLE-TYPE: none;}
.slideimages a{position:absolute;top:0;left:0;}
.flsz { font-family:Arial; font-size:10px; color:#333333; font-weight:normal;}
.categarynumber{ font-family:Arial; font-size:10px; color:#333333; font-weight:normal;}
.topfont a:link,,.toprightfont a:link,
.topfont a:visited,,.toprightfont a:visited,

.topfont a:hover,,.toprightfont a:hover,
.topfont a:active,.toprightfont a:active{ color:#EDE6F7; text-decoration:underline;}
.topfont{ float:left;font-size:12px; color:#EDE6F7; text-align:left; line-height:28px;}
.toprightfont{ float:right;font-size:12px; color:#EDE6F7; text-align:left; line-height:28px;}

/******************************************************/
/* slide end */
/******************************************************/