#accountMenu UL LI{
	padding:6px 0 3px 0px;
}

INPUT {
	FONT-WEIGHT: normal; FONT-FAMILY: SimSun,tahoma,sans-serif
}
OPTION {
	FONT-WEIGHT: normal; FONT-FAMILY: SimSun,tahoma,sans-serif
}
SELECT {
	FONT-WEIGHT: normal; FONT-FAMILY: SimSun,tahoma,sans-serif
}
TEXTAREA {
	FONT-WEIGHT: normal; FONT-FAMILY: SimSun,tahoma,sans-serif
}
TABLE {
	FONT-WEIGHT: normal; FONT-FAMILY: SimSun,tahoma,sans-serif
}
TD {
	FONT-WEIGHT: normal; FONT-FAMILY: SimSun,tahoma,sans-serif
}
TR {
	FONT-WEIGHT: normal; FONT-FAMILY: SimSun,tahoma,sans-serif
}
SELECT {
	PADDING-LEFT: 2px
}
OPTION {
	PADDING-LEFT: 2px
}
TEXTAREA {
	PADDING-LEFT: 2px
}
HR {
	BORDER-TOP: 1px dashed; COLOR: #dcddcb; HEIGHT: 1px
}
HR.bucketDivider {
	CLEAR: left
}
.body {
	FONT-SIZE: 12px; COLOR: #000000
}
.font9 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; COLOR: #000000
}
.font-red {
	FONT-SIZE: 12px; COLOR: #990000
}
.font9-unVerified {
	FONT-SIZE: 12px
}
.h11 {
	FONT-SIZE: 14px; COLOR: #cc6600
}
.font-error {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #aa0000; TEXT-DECORATION: none
}
.font-error-2 {
	FONT-SIZE: 12px; COLOR: #aa0000; TEXT-DECORATION: none
}
.font-title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc6600; FONT-FAMILY: SimSun,tahoma,simsun; TEXT-DECORATION: none
}
.important {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc6600; FONT-FAMILY: SimSun,tahoma,simsun; TEXT-DECORATION: none
}
.font-step {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #cc6600
}
.font-success {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #00328b; TEXT-DECORATION: none
}
.font-success2 {
	FONT-SIZE: 12px; COLOR: #00328b; TEXT-DECORATION: none
}
.secondary-title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #71a7c9; FONT-FAMILY: Arial, Helvetica, sans-serif
}
.secondary-title1 {
	FONT-WEIGHT: bold; FONT-SIZE: 13pt; COLOR: #71a7c9
}
.style4 {
	FONT-SIZE: 12px; COLOR: #c60
}
.font-grey {
	FONT-SIZE: 12px; COLOR: #a3a2a2
}
.price {
	FONT-SIZE: 12px; COLOR: #aa0000
}
.font12red {
	FONT-SIZE: 12px; COLOR: #ff0000
}
.font12b {
	FONT-WEIGHT: bold; FONT-SIZE: 12px
}
.font12white {
	FONT-SIZE: 12px; COLOR: #ffffff
}
.font12b-grey {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #333333
}
.font14 {
	FONT-SIZE: 14px
}
.font14b {
	FONT-WEIGHT: bold; FONT-SIZE: 14px
}
.font14b-white {
	FONT-SIZE: 14px; COLOR: #ffffff
}
.title-blue {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #000066
}
.title {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #660000
}
A.page-in1 {
	BORDER-RIGHT: #c60 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #c60 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 4px; BORDER-LEFT: #c60 1px solid; COLOR: #003399; PADDING-TOP: 4px; BORDER-BOTTOM: #c60 1px solid; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
A.page-out1 {
	BORDER-RIGHT: #fff 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #fff 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 4px; BORDER-LEFT: #fff 1px solid; COLOR: #003399; PADDING-TOP: 4px; BORDER-BOTTOM: #fff 1px solid; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
A.page-out1:hover {
	BORDER-RIGHT: #c60 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #c60 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 4px; BORDER-LEFT: #c60 1px solid; COLOR: #003399; PADDING-TOP: 4px; BORDER-BOTTOM: #c60 1px solid; LETTER-SPACING: 0px; TEXT-DECORATION: none
}
.category-header TD {
	FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid
}
.category-table TD {
	PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 1px; PADDING-TOP: 1px
}
.category-row-shaded TD {
	BACKGROUND-COLOR: #eeeeee
}
.detail-header TD {
	BORDER-TOP: #ddddcc 1px solid; PADDING-BOTTOM: 3px; FONT: 12px Arial, Verdana, sans-serif; COLOR: #333333; PADDING-TOP: 4px; BORDER-BOTTOM: #ddddcc 1px solid; BACKGROUND-COLOR: #f5f5eb
}
.outline-mainpage {
	BORDER-RIGHT: #cccc99 1px solid; PADDING-RIGHT: 3px; BORDER-TOP: #cccc99 1px solid; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; BORDER-LEFT: #cccc99 1px solid; PADDING-TOP: 3px; BORDER-BOTTOM: #cccc99 1px solid
}
.outline-yellow {
	BORDER-RIGHT: #ddddcc 3px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: 12px Arial, Verdana, sans-serif; BORDER-LEFT: #ddddcc 3px solid; PADDING-TOP: 4px; BACKGROUND-COLOR: #ffffff
}
.outline-yellow-1 {
	BORDER-RIGHT: #ddddcc 4px solid; PADDING-RIGHT: 4px; PADDING-LEFT: 4px; PADDING-BOTTOM: 4px; FONT: 12px Arial, Verdana, sans-serif; BORDER-LEFT: #ddddcc 4px solid; PADDING-TOP: 4px; BACKGROUND-COLOR: #eeeedd
}
.outline-yellow-2 {
	FONT: 12px Arial, Verdana, sans-serif; HEIGHT: 25px; BACKGROUND-COLOR: #ddddcc
}
.outline-yellow-3 {
	BORDER-RIGHT: #ddddcc 4px solid; PADDING-RIGHT: 2px; PADDING-LEFT: 2px; PADDING-BOTTOM: 2px; FONT: 12px Arial, Verdana, sans-serif; BORDER-LEFT: #ddddcc 4px solid; PADDING-TOP: 2px; BACKGROUND-COLOR: #ffffff
}
.outline-yellow-top {
	FONT: bold 14px Arial, Verdana, sans-serif; COLOR: #660000; HEIGHT: 28px; BACKGROUND-COLOR: #ddddcc
}
.outline-yellow-bottom {
	BACKGROUND-COLOR: #ddddcc
}
.outline-important-message {
	BORDER-RIGHT: #00328b 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #00328b 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; FONT: 12px Arial, Verdana, sans-serif; BORDER-LEFT: #00328b 1px solid; WIDTH: 650px; PADDING-TOP: 5px; BORDER-BOTTOM: #00328b 1px solid; BACKGROUND-COLOR: #ffffd5
}
.outline-error-message {
	BORDER-RIGHT: #aa0605 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #aa0605 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 5px; BORDER-LEFT: #aa0605 1px solid; WIDTH: 650px; PADDING-TOP: 5px; BORDER-BOTTOM: #aa0605 1px solid; BACKGROUND-COLOR: #ffffd5
}
.outline-blue-top {
	BACKGROUND-COLOR: #ccddee
}
.outline-blue {
	BORDER-RIGHT: #ccddee 3px solid; PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 10px; FONT: 12px Arial, Verdana, sans-serif; BORDER-LEFT: #ccddee 3px solid; PADDING-TOP: 10px; BORDER-BOTTOM: #ccddee 3px solid; BACKGROUND-COLOR: #ffffff
}
     LINK         .ablue1:link {
	FONT-SIZE: 12px; COLOR: #3c3c9f; TEXT-DECORATION: underline
}
.ablue1:visited {
	FONT-SIZE: 12px; COLOR: #3c3c9f; TEXT-DECORATION: underline
}
.ablue1:hover {
	FONT-SIZE: 12px; COLOR: #f47f0b; TEXT-DECORATION: none
}
.a-need-help:link {
	FONT-SIZE: 12px; COLOR: #003399; TEXT-DECORATION: underline
}
.a-need-help:visited {
	FONT-SIZE: 12px; COLOR: #003399; TEXT-DECORATION: underline
}
.a-need-help:hover {
	FONT-SIZE: 12px; COLOR: #ff9933; TEXT-DECORATION: underline
}
.ablue2:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003399; FONT-FAMILY: tahoma,simsun; TEXT-DECORATION: underline
}
.ablue2:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #996633; FONT-FAMILY: tahoma,simsun; TEXT-DECORATION: underline
}
.ablue2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff9933; FONT-FAMILY: tahoma,simsun; TEXT-DECORATION: underline
}
.ablue:link {
	FONT-SIZE: 12px; COLOR: #003d8f; TEXT-DECORATION: underline
}
.ablue:visited {
	FONT-SIZE: 12px; COLOR: #003d8f; TEXT-DECORATION: none
}
.ablue:hover {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
.a-your-account:link {
	FONT-SIZE: 12px; COLOR: #003399; TEXT-DECORATION: underline
}
.a-your-account:visited {
	FONT-SIZE: 12px; COLOR: #996633; TEXT-DECORATION: underline
}
.a-your-account:hover {
	FONT-SIZE: 12px; COLOR: #ff9933; TEXT-DECORATION: underline
}
.a-your-account2:link {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003399; TEXT-DECORATION: underline
}
.a-your-account2:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #003399; TEXT-DECORATION: underline
}
.a-your-account2:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #ff9933; TEXT-DECORATION: underline
}
.ared:link {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
.ared:visited {
	FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.ared:hover {
	FONT-SIZE: 12px; COLOR: #003d8f; TEXT-DECORATION: underline
}
.ared-b:link {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: underline
}
.ared-b:visited {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #ff0000; TEXT-DECORATION: none
}
.ared-b:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #003d8f; TEXT-DECORATION: underline
}
.a-grey:link {
	FONT-SIZE: 0.75em; COLOR: #a3a2a2; TEXT-DECORATION: underline
}
.a-grey:visited {
	FONT-SIZE: 0.75em; COLOR: #a3a2a2; TEXT-DECORATION: none
}
.a-grey:hover {
	COLOR: #a3a2a2; TEXT-DECORATION: underline
}
.ablue3:link {
	FONT-SIZE: 12px; COLOR: #000000; BACKGROUND-COLOR: #95b8db; TEXT-DECORATION: none
}
.ablue3:visited {
	FONT-SIZE: 12px; COLOR: #000000; BACKGROUND-COLOR: #95b8db; TEXT-DECORATION: none
}
.ablue3:hover {
	FONT-SIZE: 12px; COLOR: #000000; BACKGROUND-COLOR: #95b8db; TEXT-DECORATION: none
}
