A:link {
	COLOR: #0041d3; TEXT-DECORATION: none
}
A:visited {
	COLOR: #0041d3; TEXT-DECORATION: none
}
A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
A:active {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
EM {
	COLOR: #ff7100; FONT-STYLE: normal
}
#position {
	PADDING: 20px 0px 0 0px; HEIGHT: 30px; width:971px;margin-left: 0px;clear:bold;
}
.browse_left {
	WIDTH: 192px;PADDING: 0 auto;margin:0 auto;float:left;clear:bold;
}
.browse_left .browse {
	BORDER-RIGHT: #c5c5c5 1px solid; BORDER-TOP: #c5c5c5 1px solid; MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px; BORDER-LEFT: #c5c5c5 1px solid; WIDTH: 190px; BORDER-BOTTOM: #c5c5c5 1px solid; BACKGROUND-COLOR: #f1f8ff
}

.browse_left .productcatalog {
	MARGIN-BOTTOM: 15px; PADDING-BOTTOM: 10px;WIDTH: 190px;
}

.browse_left .browse .browse_t {
	PADDING-RIGHT: 0px; PADDING-LEFT: 10px; BACKGROUND: url(/images/global/bj_1.gif) repeat-x; PADDING-BOTTOM: 0px; WIDTH: 180px; PADDING-TOP: 5px; HEIGHT: 17px
}
.browse_left .browse H2 {
	margin: 0px 0px 0 0px;PADDING-RIGHT: 0px; PADDING-LEFT: 10px; FONT-WEIGHT: normal; FONT-SIZE: 12px; PADDING-BOTTOM: 5px; PADDING-TOP: 13px
}
.browse_left .browse H2 .gray {
	COLOR: #909090
}
.browse_left .browse ul{margin: 0px 0px 0 0px;list-style-type:none; padding:5px 0 0 0;}
.browse_left .browse ul li{ padding:5px 0 5px 20px; display:block;}
.browse_left .browse ul li img{ width:108px; height:19px; margin:5px 0 0 7px;}
.browse_left .browse ul .bj_blue{ background:url(/images/global/bj_blue.gif) no-repeat 10px 10px;}
.browse_left .browse ul .bj_red{ background:url(/images/global/bj_red.gif) no-repeat 10px 10px;}
.browse_left .browse ul .kk{ font-weight:bold; color:#ff7100;}

.browse_right {
	PADDING-LEFT: 15px; FLOAT: right; PADDING-BOTTOM: 30px; PADDING-TOP: 0px;margin-right: 10px;width:760px;
}
.browse_right .sorry_nopage {
	PADDING-RIGHT: 0px; PADDING-LEFT: 280px; FONT-SIZE: 14px; BACKGROUND: url(/images/global/sorry.jpg) no-repeat 148px 62px; PADDING-BOTTOM: 0px; WIDTH: 390px; LINE-HEIGHT: 25px; PADDING-TOP: 90px; HEIGHT: 110px
}
.browse_right .select_reorder {
	PADDING-RIGHT: 15px; BORDER-TOP: #91aac2 1px solid; PADDING-LEFT: 15px;
	BACKGROUND: url(/images/global/bj_2.gif) repeat-x; PADDING-BOTTOM: 0px; 
	PADDING-TOP: 3px; BACKGROUND-COLOR: #F0F8FF;position:relative;height:100%
}
.browse_right .select_reorder .reorder_l {
	FLOAT: left; PADDING-TOP: 2px;clear:bold;
}
.browse_right .select_reorder IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; MARGIN-LEFT: 5px; WIDTH: 16px; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 0px
}
.browse_right .select_reorder .reorder_r {
	FLOAT: right; PADDING-TOP: 2px
}
.browse_right .number {
	PADDING-RIGHT: 15px; PADDING-LEFT: 15px; PADDING-BOTTOM: 0px; PADDING-TOP: 5px; HEIGHT: 18px; 
	BACKGROUND-COLOR: #E0E9ED;position:relative;
}
.browse_right .number .number_l {
	FLOAT: left
}
.browse_right .number .number_l .number_white {
	PADDING-RIGHT: 3px; PADDING-LEFT: 3px; FONT-WEIGHT: bold; PADDING-BOTTOM: 3px; MARGIN: 0px 5px; COLOR: #ff7100; PADDING-TOP: 3px; HEIGHT: 15px; BACKGROUND-COLOR: #fff
}
.browse_right .number .number_r {
	FLOAT: right; WIDTH: 109px; BACKGROUND-COLOR: #fff; TEXT-ALIGN: right
}
.browse_right .number .number_r .number_list {
	FLOAT: left; WIDTH: 40px
}
.browse_right .number .number_r IMG {
	FLOAT: left; MARGIN-LEFT: 3px
}
.turnpage {
	PADDING-RIGHT: 10px; FLOAT: right; HEIGHT: 16px; BACKGROUND-COLOR: #ffffff;
}
.turnpage DIV {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; PADDING-TOP: 2px
}
.turnpage .kuang {
	BORDER-RIGHT: #919191 1px solid; BORDER-TOP: #919191 1px solid; PADDING-LEFT: 3px; BORDER-LEFT: #919191 1px solid; WIDTH: 38px; BORDER-BOTTOM: #919191 1px solid; HEIGHT: 20px
}
.turnpage .page {
	font-size:14px;
}
.turnpage .ok {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(/images/global/ok.gif) no-repeat; FLOAT: left; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 43px; CURSOR: hand; HEIGHT: 15px; BORDER-RIGHT-WIDTH: 0px
}
.turnpage .red {
	BACKGROUND: #ff7100; MARGIN: 0px 2px; WIDTH: 8px; COLOR: #fff; HEIGHT: 12px; TEXT-ALIGN: center
}
.turnpage EM {
	COLOR: #ff7100; FONT-STYLE: normal
}
.turnpage .line A:link {
	COLOR: #0041d3; TEXT-DECORATION: underline
}
.turnpage .line A:visited {
	COLOR: #0041d3; TEXT-DECORATION: underline
}
.turnpage .line A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
.turnpage .line A:active {
	COLOR: #bc2931; TEXT-DECORATION: underline
}
.browse_right .goodslist {
	PADDING-RIGHT: 18px; PADDING-LEFT: 18px; PADDING-BOTTOM: 10px; PADDING-TOP: 10px; BORDER-BOTTOM: #c9c9c9 1px solid
}
.browse_right .goodslist .goods {
	BORDER-RIGHT: #c9c9c9 0px solid; BORDER-TOP: #c9c9c9 0px solid; DISPLAY: block; FLOAT: left; BORDER-LEFT: #c9c9c9 0px solid; WIDTH: 140px; MARGIN-RIGHT: 20px; BORDER-BOTTOM: #c9c9c9 0px solid; HEIGHT: 168px
}
.browse_right .goodslist .goods_right {
	DISPLAY: block; PADDING-BOTTOM: 3px;
}
.browse_right .goodslist .goods_right H2 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px;margin:15px 0 10px 0;
}
.browse_right .goodslist .goods_right H2 .size_h {
	FONT-SIZE: 12px
}
.browse_right .goodslist .goods_right .message {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; HEIGHT: 12px
}
.browse_right .goodslist .goods_right .message UL {
	FLOAT: left; MARGIN: 0 0 0 0;  LIST-STYLE-TYPE: none
}
.browse_right .goodslist .goods_right .message LI {
	FLOAT: left; WIDTH: 170px; WHITE-SPACE: nowrap; HEIGHT: 20px;color:#000000
}

.browse_right .goodslist .goods_right .content {
	PADDING-BOTTOM: 10px; LINE-HEIGHT: 18px;PADDING-RIGHT: 0px; PADDING-LEFT: 0px;
}
.browse_right .goodslist .goods_right .message_bottom {
	HEIGHT: 24px
}
.browse_right .goodslist .goods_right .message_bottom .save {
	FLOAT: left; PADDING-TOP: 10px; HEIGHT: 12px
}
.browse_right .goodslist .goods_right .message_bottom .buy {
	FLOAT: right; WIDTH: 215px; TEXT-ALIGN: right
}
.browse_right .goodslist .goods_right .message_bottom .buy IMG {
	MARGIN-LEFT: 10px
}
.browse_right .goodslist .empty_box {
	CLEAR: both
}
.browse_right .page_number {
	PADDING-TOP: 15px; HEIGHT: 15px
}
.browse_right .table_goods {
	MARGIN-TOP: 15px; WIDTH: 100%; BORDER-COLLAPSE: collapse; TEXT-ALIGN: center
}
.browse_right .table_goods TD {
	BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c9c9c9 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 12px; BORDER-LEFT: #c9c9c9 1px solid; PADDING-TOP: 12px; BORDER-BOTTOM: #c9c9c9 1px solid
}
.browse_right .table_goods .tdleft {
	BORDER-RIGHT: #c9c9c9 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #c9c9c9 1px solid; PADDING-LEFT: 10px; PADDING-BOTTOM: 12px; BORDER-LEFT: #c9c9c9 1px solid; PADDING-TOP: 12px; BORDER-BOTTOM: #c9c9c9 1px solid; TEXT-ALIGN: left
}
.browse_right .table_goods .tabl_top1 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 30%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .tabl_top2 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 25%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .tabl_top3 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 20%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .tabl_top4 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 13%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .tabl_top5 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 7%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .tabl_top6 {
	BORDER-RIGHT: #7195b7 1px solid; PADDING-RIGHT: 10px; BORDER-TOP: #7195b7 1px solid; PADDING-LEFT: 10px; BACKGROUND: url(/images/global/bj_top.gif) no-repeat left 50%; PADDING-BOTTOM: 5px; BORDER-LEFT: #7195b7 1px solid; WIDTH: 5%; PADDING-TOP: 5px; BORDER-BOTTOM: #7195b7 1px solid
}
.browse_right .table_goods .t {
	FONT-WEIGHT: bold; COLOR: #ff7100; TEXT-ALIGN: right
}
.browse_right .table_goods .t .t_1 {
	FONT-WEIGHT: normal; COLOR: #acacac; TEXT-DECORATION: line-through
}
.browse_right .table_goods .t2 P {
	PADDING-TOP: 5px
}
.browse_right .table_goods .t2 A {
	COLOR: #898989; TEXT-DECORATION: underline
}
.browse_right .table_goods .t2 A:hover {
	COLOR: #ff7000; TEXT-DECORATION: underline
}
.browse_right .table_goods .t2 .t_2 A {
	COLOR: #0041d3; TEXT-DECORATION: underline
}
.browse_right .table_goods .c_1 {
	BACKGROUND: #f6faff; CURSOR: hand
}
.browse_right .table_goods .c_2 {
	BACKGROUND: #fff; CURSOR: hand
}
.browse_right .goods_pic {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 30px; PADDING-TOP: 18px; BORDER-BOTTOM: #c9c9c9 1px solid
}
.browse_right .goods_pic .detail {
	PADDING-RIGHT: 20px; PADDING-LEFT: 20px; FLOAT: left; PADDING-BOTTOM: 0px; WIDTH: 206px; PADDING-TOP: 0px; TEXT-ALIGN: center
}
.browse_right .goods_pic .detail .goods {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px;BORDER-RIGHT: #c9c9c9 0px solid; BORDER-TOP: #c9c9c9 0px solid; DISPLAY: block; BORDER-LEFT: #c9c9c9 0px solid; WIDTH: 140px; BORDER-BOTTOM: #c9c9c9 0px solid; HEIGHT: 168px; TEXT-ALIGN: center;
}
.browse_right .goods_pic .detail H2 {
	DISPLAY: block; FONT-WEIGHT: normal; FONT-SIZE: 14px; PADDING-TOP: 6px;margin:0 0 0 0;
}
.browse_right .goods_pic .detail .save_number {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 6px; PADDING-TOP: 6px
}
.browse_right .goods_pic .detail .an_img {
	HEIGHT: 25px;
}
.browse_right .goods_pic .detail .an_img .a_1 {
	WIDTH: 84px; MARGIN-RIGHT: 12px; HEIGHT: 24px
}
.browse_right .goods_pic .emptybox {
	CLEAR: left
}
.browse_right .select_reorder .emptybox {
	CLEAR: left
}

.browse_right .SubCategoryBox {
	position:relative;
	padding-bottom: 5px;
	width: 100%;
	clear:both;
}
.browse_right .SubCategoryBox .FindByHint{
	clear:both;
	height:20px;
	line-height:20px;
	text-indent:18px;
	margin-top: 5px;
	background:transparent url(/images/global/icon_arrow_rb.gif) left top no-repeat;
}

.browse_right .SubCategoryBox ul.CategoryListTableLevel1{
	position:relative;
	clear:both;
	height:15px;
	display:block;
	margin:0 ;
	padding:0 0 0 30px;
	list-style:none;
}
.browse_right .SubCategoryBox ul.CategoryListTableLevel1 li{
	float:left;
	width:85px;
	margin:4px 0;
	white-space: nowrap;
}
.browse_right .SubCategoryBox ul.CategoryListTableLevel1 li A.red{
	COLOR: #0239B9;FONT-WEIGHT: bold;
}
.browse_right .brand {
	position:relative;
	padding-bottom: 5px;
	width: 100%;
	clear:both;
}
.browse_right .brand .FindByHint{
	clear:both;
	height:20px;
	line-height:20px;
	text-indent:18px;
	margin-top: 5px;
	background:transparent url(/images/global/icon_arrow_rb.gif) left top no-repeat;
}
.browse_right .brand ul.CategoryListTableLevel1{
	position:relative;
	clear:both;
	display:block;
	margin:0;
	padding:0 0 0 30px;
	list-style:none;
}
.browse_right .brand ul.CategoryListTableLevel1 li{
	float:left;
	width:150px;
	margin:4px 0;
	white-space: nowrap;
}
.browse_right .brand ul.CategoryListTableLevel1 li A.red{
	COLOR: #0239B9;FONT-WEIGHT: bold;
}